{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <h1>Tracker</h1>
                <p>This is Tracker, a simple yet powerful Software for Face Recognition and Tracking.</p>
                <p>Developed by:
                <ul>
                    <li>Ahmad Tfaily</li>
                    <li>Hussein Srour</li>
                </ul>
                </p>
            </div>
        </div>
    </div>
{% endblock %}