{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/adduser.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Add User{% endblock %}
{% block content %}
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Add new user</h3>
            </div>
            <div class="panel-body">
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ formset.as_p }}
                        <input type="submit" class="btn btn-primary" value="Add"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if request.GET.status == 'empty' %}
        <div class="row">
            <div class="col-lg-4">
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Empty! </strong>You need to add new users.
                    <a href="#" class="alert-link">Afterwards, you can capture images for them.</a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
