{% extends 'base.html' %}
{% load static %}

{% block title %}Attendance{% endblock %}

{% block content %}
    <div class="col-12 p-3">
        <table class="table table-bordered table-hover table-striped" id="table">
            <thead>
            <tr>
                <th># Id</th>
                <th>User</th>
                <th>Date</th>
                <th>In / Out</th>
            </tr>
            </thead>
            <tbody>
            {% for rec in attendance %}
                <tr id= {{ rec.id }}>
                    <td>{{ rec.id }}</td>
                    <td>
                        <a href={% url 'profile' rec.user.id %}>{{ rec.user.first_name }} {{ rec.user.last_name }}</a>
                    </td>
                    <td>{{ rec.date }}</td>
                    <td>
                        {% if rec.inout %}
                            IN
                        {% else %}
                            OUT
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}
