{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracker | {% block title %}
    {% endblock %}</title>
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/sb-admin.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    {% block css %}
    {% endblock %}
</head>
<body>
<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li id="Dashboard"><a href="/home"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li id="Upload"><a href="/upload"><i class="fa fa-upload"></i> Upload</a></li>
                <li id="Capture"><a href="/capture"><i class="fa fa-camera"></i> Capture</a></li>
                <li id="Train"><a href="/train"><i class="fa fa-cogs"></i> Train</a></li>
                <li id="AddUser"><a href="/adduser"><i class="fa fa-user-plus"></i> Add user</a></li>
                <li id="Attendance"><a href="/attendance"><i class="fa fa-users"></i> Attendance</a></li>
                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#recognize" class="collapsed"
                       aria-expanded="false"><i class="fa fa-question-circle"></i> Recognize <i
                            class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="recognize" class="collapse" aria-expanded="false" style="height: 0px;">
                        <li>
                            <a href="/recognize/camera"><i class="fa fa-video-camera"></i> Camera</a>
                        </li>
                        <li>
                            <a href="/recognize/photo"><i class="fa fa-file-photo-o"></i> Photo</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user }}<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-power-off"></i> Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    {% if user.is_authenticated and not backends.associated %}
    {% endif %}
    <div id="page-wrapper">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{% static 'js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
</div><!-- /#wrapper -->
{% block javascript %}
{% endblock %}
<script>
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
</body>
</html>