{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Camera{% endblock %}
{% block content %}
{% block css %}
    <link href="{% static 'css/camera.css' %}" rel="stylesheet">
{% endblock %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <video id="video" width="640" height="480" class="img-thumbnail"></video>
                <div class="clock-canvas" style="position: absolute; top: 0px; left: 0px;">
                    <div class="kineticjs-content" role="presentation"
                         style="display: inline-block; width: 200px; height: 200px;">
                        <canvas width="200" height="200"
                                style="padding: 0px; margin: 0px; border: 0px; background: transparent; position: absolute; top: 0px; left: 0px; width: 200px; height: 200px;"></canvas>
                    </div>
                    <div class="text">
                        <p id="counter" class="val">3</p>
                        <p class="type-seconds type-time"></p>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <button id="capture" class="btn btn-primary">Recognize</button>
                <a>
                    <button id="go" class="btn btn-success" style="visibility: hidden"></button>
                </a>
            </div>
            <div class="modal-footer">
                <div class="progress">
                    <div id="percentage" class="progress-bar progress-bar-success progress-bar-striped"
                         role="progressbar"
                         aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <canvas id="canvas" width="320" height="240" style="visibility: hidden"></canvas>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/camera.js' %}"></script>
{% endblock %}
