{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/capture.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Capture{% endblock %}
{% block content %}
    {% if request.GET.status == 'empty' %}
        <div class="col-lg-2">
            <div class="alert alert-dismissable alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Empty! </strong>You need to capture some photos.
            </div>
        </div>
    {% endif %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <video id="video" width="640" height="480" class="img-thumbnail"></video>
            </div>
            <div class="modal-body">
                <select id="device" class="form-control">
                    <option value="0">Local device</option>
                    <option value="1">Remote device</option>
                </select><br>
                <select id="user_id" class="form-control">
                    {% for user in users %}
                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                    {% endfor %}
                </select><br>
                <input id="number" type="number" placeholder="Number" class="form-control" value="10"><br>
                <button id="capture" class="btn btn-primary">Capture</button>
            </div>
        </div>
    </div>
    <canvas id="canvas" width="320" height="240" style="visibility: hidden"></canvas>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/capture.js' %}"></script>
{% endblock %}
