{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
    {% block extra %}{% endblock %}

    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card card-primary">
            <div class="card-body">
                <h3 class="card-title">{% block title %}{% endblock %}</h3>
                <form role="form" action="" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        {% csrf_token %}
                        {% bootstrap_form formset %}
                        {% bootstrap_button button_type="submit" content="Save" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
