{% extends 'base.html' %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row p-3">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ photos }}</h5>
                    <p class="card-text">
                        {% if photos == 1 %}Photo{% else %}Photos{% endif %}
                    </p>
                    <a href="{% url 'users' %}" class="btn btn-outline-secondary">Browse</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ users }}</h5>
                    <p class="card-text">
                        {% if users == 1 %}User{% else %}Users{% endif %}
                    </p>
                    <a href="{% url 'adduser' %}" class="btn btn-outline-success">Add</a>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if last_training %}
                            {{ last_training|timesince }}
                        {% else %}
                            N/A
                        {% endif %}
                    </h5>
                    <p class="card-text">
                        Last Training
                    </p>
                    <a href="{% url 'train' %}" class="btn btn-outline-danger">Perform Training</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
