{% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Log in{% endblock %}
{% block content %}
  <div id="form-main">
  <div id="form-div">
    <form class="form" id="form1" action="" method="POST">
    {% csrf_token %}
      <p class="name">
        <input id="username" name="username" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Username"/>
      </p>

      <p class="password">
        <input id="password" name="password" type="password" class="validate[required,custom[password]] feedback-input" placeholder="Password" />
      </p>

      <div class="submit">
        <input type="submit" value="LOGIN" id="button-blue"/>
        <div class="ease"></div>
      </div>
    </form>
  </div>
{% endblock %}