{% extends 'base.html' %}

{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="col-5"></div>
    <div class="col-2 mt-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Login</h5>
                <form class="form col-md-12 center-block" action="" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username"
                               placeholder="Username" autofocus>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password"
                               placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
