{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/adduser.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}Add User{% endblock %}
{% block content %}
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <img id="uploaded" id="image" style="visibility: hidden" src="#" alt="your image" />
            </div>
            <input  type='file' onchange="readURL(this);" /><br>
            <button id="btnRecognize" class="btn btn-primary">Recognize</button>
            <br>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'js/recognize_photo.js' %}"></script>
{% endblock %}