{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Recognize{% endblock %}

{% block content %}
    {% if confidence == -1 %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="alert alert-dismissible alert-danger fade show">
                        <strong>Not found! </strong>Image does not contain any known faces.
                        <span class="alert-link">Try with a clearer one!</span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Recognize</h3>
                <form class="row gy-2 gx-3 align-items-center" role="form" action="" method="post"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-auto">
                        <input name="images" type='file' class="form-control" accept="image/*" multiple/>
                        <input type="hidden" name="frame" id="frame" value="">
                    </div>
                    <div class="col-auto">
                        {% bootstrap_button button_type="submit" content="Recognize" %}
                    </div>
                </form>
                <div class="mt-3">
                    <canvas id="canvas" class="d-none"></canvas>
                    <video width="100%" class="d-none" autoplay></video>
                    <button class="btn btn-outline-primary mt-2" onclick="openCamera()">Open Camera</button>
                    <button id="capture" class="btn btn-outline-secondary mt-2 d-none" onclick="capture()">Capture
                    </button>
                    <button id="recognize" class="btn btn-outline-danger mt-2 d-none" onclick="recognize()">Recognize
                    </button>
                </div>
            </div>
            {% if id %}
                <div class="card-footer">
                    <a href="{% url 'profile' id %}">
                        {{ name }}
                    </a>
                    <div class="progress mt-2">
                        <div class="progress-bar bg-success" role="progressbar"
                             style="width: {{ confidence }}%"
                             aria-valuenow="{{ confidence }}">
                            {{ confidence }}%
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/camera.js' %}"></script>
{% endblock %}
