{% extends 'base.html' %}
{% load static %}

{% block title %}Training{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if request.GET.status == 'untrained' %}
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <div class="alert alert-dismissible alert-warning fade show">
                        <strong>Not Trained! </strong>You need train the model.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-4"></div>
            {% endif %}
            {% if duration %}
                <div class="col-lg-4">
                    <div class="alert alert-dismissible alert-success fade show" role="alert">
                        <strong>Trained!</strong> Process took {{ duration }} seconds.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Train the model</h5>
                <p class="card-text">
                <p>
                    Click to start Training process. It may take several minutes.
                </p>
                <p>
                    Note that training results a new training model and <strong>overwrite</strong> the old one.
                </p>
            </div>
            <div class="card-footer">
                <div class="d-flex align-items-center">
                    <form class="row gy-2 gx-3 align-items-center" role="form" action="" method="post">
                        {% csrf_token %}
                        <button id="train" class="btn btn-outline-danger">Run Training</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
