{% extends 'base.html' %}
{% block title %}Photos{% endblock %}
{% block content %}
    {% for user in data %}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> User :{{ user.user }} </h3>
            </div>
            {% for image in user.images %}
                <img src="/static/photos/{{ image }}" name={{ index }}/>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock content %}